.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___right img {
  transform: scaleX(-1);
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___root img {
  height: 480px;
}

.fighter-preview__infobox {
  height: 150px;
  max-width: 150px;
  flex: 1;
  display: flex;
  justify-content: center;
  cursor: pointer;
  background: #ffdfa7;
  margin: 10px;
  border: 5px solid #ca9650;
  padding: 1rem;
  text-align: center;
  /* justify-items: center; */
}
